src/exploration/setup.env
src/investing/setup.env
src/trading/alpaca.env
src/trading/alpaca-paper.env
**/__pycache__
/typings
**/.ipynb_checkpoints/**
/venv/
buxzero/*.env
buxzero/tests/*.env
**/.pytest_cache